.app{
    background: rgb(69, 82, 87);
    height: 100vh;

    .sections{
        width: 100%;
        height: calc(100vh - 70px);
        background: lightsalmon;
        position: relative;
        top: 70px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none; // onlu for fire fox
        &::-webkit-scrollbar{
            display: none;
        }

        >*{
             width: 100%;
        height: calc(100vh - 70px);
        scroll-snap-align:start;
        }
    }
}